{% extends 'DoctBase.html'%}

<body>
    {% block content %}
    <h1> Тут будет основная информация о врачах</h1>
    <style>
table {
background-color: blue;
}
        table {
  border: 1px solid black;
}

td, th {
  border: 1px solid gray;
}```
    </style>

<table>
<tr>
    <td>№</td>
    <td>Имя</td>
    <td>Специализация</td>
    <td>Вторая специализация</td>
</tr>
    <tr>
        {% for doctor in doctor%}
        <tr>
        <td> {{forloop.counter}} </td>
        <td>{{doctor}}</td>
        <td>{{doctor.get_special}}</td>
        <td>{{doctor.get_second_special}}</td>
        {%endfor%}
        </tr>
    </tr>
</table>
    {% endblock %}
</body>
</html>