{% extends 'registerBase.html'%}
{% block content %}

<table border=“1”>
<tr>
<td>ФИО</td>
<td>Номер телефона</td>
<td>Участок</td>
<td>Column 4</td>
</tr>
    {% for client in client %}
<tr>
<td>{{client}}</td>
<td>{{client.phoneNumber}}</td>
<td>{{client.sector}}</td>
<td>Row 1 Column 4</td>
</tr>
    {% endfor %}
</table>


{% endblock %}