<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
  <style>
    button {
      background-color: #6B8E23;
      border: none;
      padding: 10px;
      cursor: pointer;
    }
  </style>

<body>
<button><a href="{% url 'registerCreate' %}">Создать запись к врачу </a> </button>
  <button><a href="{% url 'regClientCreate'%}" >Создать карту пациента</a></button>
  <button><a href="{% url 'registerpage'%}">Страница регистратора</a></button>

  <br><br>

  <button><a href="{% url 'regTodayRecord'%}">Записи к врачам на сегодня</a></button>
<button> <a href="{% url 'regClientList' %}">Список пациентов </a> </button>
  <button><a href="{% url 'registerDocList'%}">Список врачей</a></button>
</body>
</html>
</head>
<body>
<div class="main">

	{% block content %} {% endblock %}
</div>

</body>
</html>