{% extends 'registerBase.html'%}
{% block content %}

    <table border=“1”>
    <tr>
    <th>ФИО</th>
    <th>Специальность</th>
    </tr>
        {% for doctor in doctor %}
    <tr>
    <td>{{doctor}} </td>
    <td>{{doctor.get_special}} </td>
    </tr>
        {% endfor %}
    </table>
{% endblock %}