{% extends 'registerBase.html'%}
{% block content %}
    <table border=“1”>
    <tr>
    <th>Имя пациента</th>
    <th>Врач</th>
    </tr>
        {% for record in record %}
    <tr>
    <td>{{record.get_name}} </td>
    <td>{{record.get_doc}} </td>
    </tr>
        {% endfor %}
    </table>
{% endblock %}