<!DOCTYPE html>
<html lang=“en”>
<head>
<meta charset=“UTF-8”>
<title>{{ title }}</title>
<style>
body {
margin: 0;
padding: 0;
}

    header {
        background-color: #333;
        color: white;
        text-align: center;
    }

    nav {
        float: left;
        width: 25%;
        padding: 10px;
        background-color: lightblue;
    }

    section {
        float: right;
        width: 75%;
        padding: 10px;
    }
</style>

</head>
<body>
<nav>
<ul>
<li><a href="{%url 'doctor' %}">Врачи</a></li>
	<li><a >Пациенты</a></li>
<li>Карточка пациента</a></li>
<li><a >Запись к врачу</a></li>
	<li><a href="/admin/">Админка</a></li>
	<li><a href="{% url 'registerpage'%}">Регистратура</a></li>
</ul>
</nav>
<div class="main">
	{% block content %}{% endblock %}
</div>
<section>
<!-- content here -->
</section>
</body>
</html>