{% extends 'core/base.html'%}
	{% block content %}
 <style>
table {
background-color: blue;
}
        table {
  border: 1px solid black;
}

td, th {
  border: 1px solid gray;
}```
    </style>
<table>
    <tr>
        <td>№</td>
        <td href = ''>Имя</td>
        <td href = ''>Врач</td>
        <td>Дата приема</td>
    </tr>
    <tr>
        {% for record in record %}
        <tr>
        <td> {{forloop.counter}} </td>
        <td>{{record.client_name}}</td>
        <td>{{record.doctor_name}}</td>
        <td><a href="{%url 'client_record_text' id=record.id%} "> {{record.date_record}}</a></td>
        {%endfor%}
        </tr>
    </tr>
</table>


    {% endblock %}