<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>



  <style>
    button {
      background-color: #6B8E23;
      border: none;
      padding: 10px;
      cursor: pointer;
    }
  </style>
</head>
<body>
  <button>Left Button 1</button>
  <button>Left Button 2</button>
  <button>Left Button 3</button>

  <br><br>

  <button>Top Button 1</button>
  <button>Top Button 2</button>
  <button>Top Button 3</button>
</body>
</html>
</head>
<body>
<div class="main">
	{% block content %}{% endblock %}
</div>
</body>
</html>