{% extends 'core/base.html'%}
    {% block content %}
        <table>
            <tr>
            {%for client in client %}
                <tr>
                <td>{{forloop.counter}}</td>
                <td> <a href="{%url 'client_page' id=client.id%}"> {{ client.get_name }}</a></td>
                </tr>
            {%endfor%}
            </tr>
        </table>
<h2> <a href="{% url 'client_record' %}"> Все записи к врачам></a> </h2>
    {% endblock %}
