{% extends 'core/base.html'%}
{% block content%}
<style>
table {
background-color: blue;
}
        table {
  border: 1px solid black;
}

td, th {
  border: 1px solid gray;
}```
    </style>

    <table>
        <tr>
            <td>Имя</td>
            <td>Пол</td>
            <td>Возраст</td>

        </tr>
        <tr>
        {% for clients in clients %}
        <tr>
        <td>{{clients}}</td>
            <td>{{clients.sex}}</td>
            <td>{{clients.age}}</td>


        {%endfor%}
        </tr>
        </tr>

    </table>

{% endblock %}