{% extends 'core/base.html'%}
{% block content %}
<div>
    <form method="POST">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="Create">

    </form>

</div>
{% endblock %}