{% extends 'core/base.html'%}
{% block content %}
<body>
<h1>
    Краткая информация о проекте
</h1>
<p>
    Проект будет состоять из страницы пациента с записями в ней.
    Записи могут делать врачи.
    Врачи делять на 2 категории: Main doctor - терапевт и Doctor - врач,у которого
    в данный момент пациент наблюдается.
    Main Doctor может делать записи в карточку, так же он может дать возможность делать записи
    другим врачам в карточке на ограниченный период времени ( время задает Main Doctor)
</p>
</body>
</html>
{% endblock %}