{% extends 'core/base.html'%}
{% block content%}
<body>
<h1> Тут будет основная информация из медицинской карты пациента</h1>
 <div>
  <a class="active" href="{% url 'doctor'%}">Личный кабинет врача</a>
  <a href="{% url 'registerpage' %}">Личный кабинет регистратуры</a>
  <a href="{% url 'ClientArea'%}">Личный кабинет пациента</a>
  <a href="#about"></a>
</div>

<h2>
    <div>
        <a href="{% url 'main_info' %}"> подробно о проекте</a>
    </div>
</h2>
</body>
</html>
{% endblock %}